.header{
	background-color: green;
	height: 400px;
	background-image: url("./img/header.png"); 
	background-size: cover;
}

.content{
	background-color: lightblue;
	background-size: cover;
	width:80%;
	

}
.leftSidebar{
	background-color: blue;

}
.rightSidebar{
	background-color: lightgreen;

}
.footer{
	background-color: green;
	height: 200px;
}
 
.checklist{
	background-color: pink;
	padding-left: 2px
}
.checklist p{
		display: inline-block;
		margin-bottom: 0;

}
.contact-card{
	padding-left: 2px;
	display: flex;
	flex-direction:column;
	color: blue;
	padding-bottom: 0px;
}

.jokes{
	padding-left: 15px;
	color:purple;

}

